@import "variables.scss";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/transition";

//region Core

body {
  -webkit-font-smoothing: subpixel-antialiased; // Because you, Safari... :unamused:
  background-color: $content-background;
}

//endregion

//region Layout

#main-section {
  margin-top: 20px;
}

//endregion

/* Put your app styles here */