<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Okanjo Boilerplate</title>

{#    <link rel="stylesheet" type="text/css" href="/dist/vendor-bundle-main.css">#}
    <link rel="stylesheet" type="text/css" href="/dist/css-bundle-vendor.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-bundle-main.css">
    {# FIXME: Add minified production builds here#}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/touch-icon.png">
</head>
<body>

<div id="root">
    <noscript>
        {# FIXME - Put something here to tell them they need to get with the times #}
    </noscript>
    <div class="page-loader" ><div class="inner"></div></div>
</div>

<script>
    window._env = '{{ env }}';
    window._ver = {{ version|json|safe }};
    window._ua = '{{ app.config.google.ua }}';
    window.app = {};
</script>
<script src="/dist/app-bundle-vendor.js"></script>
<script src="/dist/app-bundle-main.js"></script>
{# FIXME: Add minified production builds here#}
</body>
</html>
